@{

    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/statistics.css">

<h1 class="mainHeader">System BI:</h1>

<h4>Operation Systems:</h4>
<div id="osChart"></div>

<h4>Users and Data Centers:</h4>
<div class="chartsContainer">
    <div  id="UsersStats"></div>
    <div  id="DCstats"></div>
</div>



@section Scripts {
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/js/statistics.js"></script>
}
