@model Next.Models.Server

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Server</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="orderForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="CPU" class="control-label">CPU: </label>
                <span id="cpucount">2</span>
                <input type="range" asp-for="CPU" class="form-control" min="1" max="10" value="2"/>
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label">RAM: </label>
                <span id="ramcount">4</span>
                <input type="range" asp-for="RAM" class="form-control" min="1" max="12" value="4" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OS" class="control-label"></label>
                <input asp-for="OS" class="form-control" required />
                <span asp-validation-for="OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCenterID" class="control-label"></label>
                <select asp-for="DataCenterID" class="form-control" asp-items="ViewBag.DataCenterID"></select>
            </div>
            <div>
                <label class="control-label">Price</label>
                <spa id="dollarprice">undetermined</spa>
            </div>
            <div>
                <label class="control-label">Price</label>
                <spa id="localprice">undetermined</spa>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/orderServer.js"></script>
}
