@model Next.Models.Server

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Server</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="orderForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CPU" class="control-label">CPU: </label>
                <span id="cpucount">undetermined</span>
                <input type="range" asp-for="CPU" class="form-control" min="1" max="10" />
                <span asp-validation-for="CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label">RAM: </label>
                <span id="ramcount">undetermined</span>
                <input type="range" asp-for="RAM" class="form-control" min="1" max="12" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OS" class="control-label"></label>
                <input asp-for="OS" class="form-control" />
                <span asp-validation-for="OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCenterID" class="control-label">DataCenter</label>
                <select asp-for="DataCenterID" class="form-control" asp-items="ViewBag.DataCenterID"></select>
                <span asp-validation-for="DataCenterID" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Price</label>
                <spa id="dollarprice">undetermined</spa>
            </div>
            <div>
                <label class="control-label">Local price:</label>
                <spa id="localprice">undetermined</spa>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/orderServer.js"></script>

}
